<h1>Home ChuckNorris Jokes</h1>
<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
  <h1><%= link_to "Go to Jokes", chucknorris_create_path %>  </h1>
<% else %>
  <%= link_to "Sign in", new_user_session_path %> 
<% end %>